/*
    File Name: black-style.css
*/

/* Top Bar */
    #top_bar{
        background:url(../images/black-style/top_bar_background.png) repeat-x;
    }
    
/* Navigation */
    #navigation{
        background:url(../images/black-style/navigation_background.png) top no-repeat;
    }

    /* drop down links hover */
    #navigation ul ul li:hover{ 
       background:url(../images/black-style/menu_background.png);
    }
   
    /* drop down style */
    #navigation ul li ul{ 
        background:url(../images/black-style/menu_background.png); 
    }

    #navigation ul ul li{
        border:1px solid #303030;
    }

    #navigation ul li span{
        color:#9d9d9d;
    }   

/* Banner Bar */
    .banner{ 
        background:url(../images/black-style/banner_background.png) center top no-repeat;
        color:#818181; 
    }

    /* banner button */
    a.banner_button{
        color:#fff !important; 
        background:url(../images/black-style/big_button.png) top  no-repeat;
    }

    a.banner_button:hover{
        color:#fff !important; 
        background:url(../images/black-style/big_button.png)  0  -59px  no-repeat;
    }


/* buttons */
    a.small_button{
        color:#fff; 
        background:url(../images/black-style/small_button.png) top  no-repeat;
    }

    a.small_button:hover{
        color:#fff; 
        background:url(../images/black-style/small_button.png)  0  -28px  no-repeat;
    }


/* Footer Forms */
    #footer input, #footer select{ 
        background:transparent url(../images/black-style/footer_form_text_field.png) left top no-repeat;	 
    }
    
    #footer textarea{
        background:url(../images/black-style/footer_form_textarea.png) left top no-repeat; 
    }

    #footer .submitbutton{
        background:transparent url(../images/black-style/footer_form_button.png) left top no-repeat; 
    }
    
    #footer .submitbutton:hover{
        background:transparent url(../images/black-style/footer_form_button.png) 0  -27px  no-repeat;
    }
    

/* Footer Background Color */
    #footer{	
        background:#151515;
        color:#787878;
    }

/* Foooter Links */
    #footer a{
        color:#B0B0B0;
    }
    
    #footer a:hover{
        color:#fff;
    }
    
     #footer .row.footer .box ul a{
        color:#C7C7C7;
    }    
    
     #footer .row.footer .box ul a:hover{
        color:#fff;
    }
    
/* Footer Lists */
    .row.footer .box li{
        border-bottom:1px solid #262626;
    }

/* second footer */
    .second_footer{
        background-color:#151515;
        border-top:1px solid #2e2e2e;
        color:#6b6b6b;
    }
    


/* Form Button */
    /* active state */
    .content form .button{
        background:url(../images/black-style/small_button.png) top  no-repeat;
    }

    /* hover state */
    .content form .button:hover{
        background:url(../images/black-style/small_button.png)  0  -28px  no-repeat;
    }   